rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{mail} {
    	allow create: if true;
      allow update: if mail == resource.id;
      allow read: if true;
    }
  }
}